.home {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    background-color: #F6F6F6;
    padding-top: 30px;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        .home {
            margin: 0 auto;
            border-radius: 25px;
            padding: 55px 50px;
            gap: 50px 60px;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: white;
        }
    }
}