.home {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 25px;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
        background-color: white !important;
        padding: 0px !important;
    }
}