.apropos {
    animation: slide-in 0.8s;
    min-height: 100vh;
    img.Backround-image {
        height: 220px;
    }
    @keyframes slide-in {
        from {
            transform: translateX(-50%);
            opacity: 0;
        }
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @media screen and (min-width: 768px) {
        &-Background {
            margin-bottom: 30px;
        }
    }
}