.stars {
    display: flex;
    border-radius: 10px;
}

.st {
    width: 15px;
    height: 15px;
    border-radius: 50% 50% 50% 50%;
}

@media screen and (min-width: 768px) {
    .stars {
        justify-content: flex-end;
    }
    .st {
        width: 36px;
        height: 36px;
    }
}