.container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .container-wrapper-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        .container-stars,
        .container-host {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .container-host {
                justify-content: flex-end;
            }
        }
    }
    .container-wrapper-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        .container-heading h1 {
            font-size: 2.25rem;
        }
        .container-heading h2 {
            font-size: 1.125rem;
        }
        .container-wrapper-right {
            flex-direction: column;
            align-items: flex-end;
        }
        .collapsible-container {
            display: flex;
            gap: 75px;
        }
    }
}