.Background {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 22px auto;
    position: relative;
}

.Background-image {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    filter: brightness(70%);
    object-fit: cover;
}

.Background-title {
    width: 255px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 16px;
    text-shadow: 0 0 100px black;
    position: absolute;
    animation: slide-in-from-top 1.2s;
}

@keyframes slide-in-from-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .Background {
        margin: 0 auto 40px auto;
        justify-content: center;
    }
    .Background-image {
        min-height: 220px;
    }
    .Background-title {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
}