.logo {
    max-height: 43px;
    align-self: center;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1440px;
    justify-content: space-between;
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            margin-left: 40px;
            color: #FF6060;
            cursor: pointer;
            text-decoration: none;
            font-size: 0.75rem;
            text-transform: uppercase;
            &:hover {
                text-decoration-line: underline;
            }
        }
    }
    .navbar-container {
        display: flex;
        align-items: center;
        padding: 20px;
        max-width: 1440px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: #FF6060;
        font-size: 0.75rem;
        &:hover {
            text-decoration-line: underline;
        }
    }
    @media screen and (min-width: 768px) {
        padding: 40px 100px 20px 100px;
        .logo {
            height: 68px;
            align-self: center;
        }
        .nav-menu {
            margin-right: 60px;
        }
        a {
            font-size: 1.5rem;
        }
    }
}