.logo {
    max-height: 43px;
    align-self: center;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1440px;
    justify-content: flex-end;
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
            margin-left: 40px;
            color: #FF6060;
        }
    }
    .navbar-container {
        display: flex;
        align-items: center;
        padding: 20px;
        max-width: 1440px;
    }
    ul {
        list-style-type: none;
        align-items: right;
        text-transform: uppercase;
        flex-grow: 1;
        margin-right: auto;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: #FF6060;
        font-size: 0.75rem;
        &:hover {
            text-decoration-line: underline;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 40px 100px 20px 100px;
    }
    .logo {
        height: 68px;
        align-self: center;
    }
    ul {
        text-transform: none;
    }
    .nav-menu {
        margin-right: 60px;
    }
    a {
        font-size: 1.5rem;
    }
}