.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hostName {
    font-size: 0.75rem;
    font-weight: inherit;
    color: #FF6060;
    width: 100px;
    text-align: end;
}

.hostImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .hostName {
        font-size: 1.125rem;
    }
    .hostImage {
        width: 64px;
        height: 64px;
    }
}