// card.scss
.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    /* row-gap c'est la distance entre les lignes */
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: unset;
        gap: 20px;
    }
    .cardlink {
        width: 30%;
        height: 270px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .card {
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            .cardimg {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                filter: brightness(85%);
                transition: 0.3s;
                &:hover {
                    filter: none;
                }
            }
            .cardtitle {
                color: white;
                font-size: 1.125rem;
                font-weight: 500;
                position: absolute;
                bottom: 0;
                margin: 15px 20px;
                background: linear-gradient(180deg, #FF6060 0%, rgba(255, 96, 96, 0.5) 100%);
                padding: 5px 10px;
                border-radius: 10px;
                text-shadow: 0 0 50px black;
            }
        }
    }
}